/* 버튼 */
.btn__wrap {
    @include flexbox();
    [class^="btn-full"]:first-child {
        width: 28%;
        margin-right: 1.2rem;
    }
    [class^="btn-full"]:last-child {
        width: 72%;
    }
    [class^="btn-full"]:only-child {
        width: 100%;
        margin-right: 0;
    }
    [class^="btn-md"]:first-child {
        width: 50%;
        margin-right: 1.2rem;
    }
    [class^="btn-md"]:last-child {
        width: 50%;
    }
    [class^="btn-md"]:only-child {
        width: 100%;
        margin-right: 0;
    }
}
.btn-fixed__wrap {
    position: fixed;
    // left: 50%;
    bottom: calc(env(safe-area-inset-bottom) + 8.6rem);
    // transform: translateX(-50%);
    z-index: 50;
    transform: translate3d(0, 0, 0);
    width: 100%;
    max-width: 500px;
}
[class^="btn-"] {
    @include flexbox();
    &.disabled,
    &:disabled {
        background-color: $bg_lightgray;
        color: #c7c7cc;
    }
}
[class^="btn-full"] {
    width: 100%;
    height: 4.8rem;
    line-height: 4.8rem;
    text-align: center;
    cursor: pointer;
    border-radius: 1.6rem;
    font-size: $font_size_default;
    font-weight: 400;
    padding: 0 1.2rem;
}
.btn-full {
    &__primary {
        background: $primary_color;
        color: #fff;
        span {
            padding: 0 0.4rem;
        }
    }
    &__black {
        background: $primary_point;
        color: #fff;
    }
    &__secondary {
        background: $primary_enable;
        color: $gray_02;
    }
    &__line {
        background: $white_color;
        box-shadow: 0 0 0 1px $primary_black inset;
        &__primary {
            background: $white_color;
            box-shadow: 0 0 0 1px $primary_color inset;
            color: $primary_color;
        }
        &__gray {
            width: 4.8rem !important;
            padding: 0;
            background: $white_color;
            box-shadow: 0 0 0 1px $bg_lightgray inset;
            border-radius: 0.8rem;
            .ico-cart {
                width: 3.2rem;
                height: 3.2rem;
            }
            & + .btn-full__primary {
                flex: 1;
            }
        }
    }
    &__small {
        height: 4rem;
        font-size: $font_size_xxs;
        border-radius: 1.2rem;
    }
}

.btn-txt {
    @include flexbox();
    &__default {
        color: #c7c7cc;
        font-size: $font_size_s;
        line-height: 1.42;
    }
    &__primary {
        color: $primary_color;
        font-size: $font_size_s;
        line-height: 1.42;
    }
    &__gray {
        color: $primary_gray;
        font-size: $font_size_s;
        line-height: 1.42;
    }
    &__underline {
        color: $primary_gray;
        font-size: $font_size_s;
        line-height: 1.42;
        text-decoration: underline;
        text-underline-position: under;
    }
    &__small {
        font-size: $font_size_xxs;
        font-weight: 400;
    }
    &__arrow {
        @include flexbox();
        font-size: $font_size_xxs;
        color: $primary_color;
        &:after {
            content: "";
            width: 0.8rem;
            height: 1.6rem;
            margin-left: 0.4rem;
            @include bgimage(
                $url: $image_root + "common/ico_arrow_right_purple.svg"
            );
        }
    }
}

[class^="btn-md"] {
    height: 3.8rem;
    padding: 1.2rem;
    border-radius: 0.8rem;
    font-size: $font_size_xxs;
}
.btn-md {
    &__line {
        background-color: #fff;
        box-shadow: 0 0 0 1px $primary_black inset;
        color: $primary_black;
    }
    &__primary {
        width: 100%;
        background-color: $primary_color;
        color: #fff;
    }
    &__black {
        width: 100%;
        background-color: $primary_black;
        color: #fff;
    }
}

[class^="btn-sm"] {
    height: 3rem;
    padding: 0.8rem 1.2rem;
    border-radius: 0.8rem;
    font-size: $font_size_xxs;
}
.btn-sm {
    &__line {
        box-shadow: 0 0 0 1px $primary_color inset;
        color: $primary_color;
        &__gray {
            background-color: #fff;
            box-shadow: 0 0 0 1px #eef0f2 inset;
        }
    }
    &__primary {
        width: 100%;
        background-color: $primary_color;
        color: #fff;
    }
    &__black {
        width: 100%;
        background-color: $primary_point;
        color: #fff;
    }
    &__round {
        border-radius: 2rem;
    }
    &__gray {
        background-color: $bg_lightgray;
        color: $primary_gray;
    }
}

.btn-sns {
    &__kakao {
        background-color: #ffde32;
        color: $primary_black;
        &:before {
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.8rem;
            @include bgimage($url: $image_root + "common/ico_kakao.svg");
        }
    }
    &__naver {
        background-color: #20ca31;
        &:before {
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.8rem;
            @include bgimage($url: $image_root + "common/ico_naver.svg");
        }
    }
    &__apple {
        background-color: #30333e;
        &:before {
            content: "";
            width: 2.4rem;
            height: 2.4rem;
            margin-right: 0.8rem;
            @include bgimage($url: $image_root + "common/ico_apple.svg");
        }
    }
}

.btn-filter {
    @include flexbox();
    height: 2.8rem;
    padding: 0 0.8rem;
    line-height: 2.8rem;
    box-shadow: 0 0 0 1px #eef0f2 inset;
    border-radius: 2rem;
    font-size: $font_size_xxs;
    color: $primary_gray;
    &::before {
        content: "";
        width: 2rem;
        height: 2rem;
        margin-right: 0.4rem;
        @include bgimage(
            $url: $image_root + "common/ico_filter.svg",
            $pos: left center
        );
    }
}
.btn-map {
    @include flexbox();
    background-color: $primary_black;
    height: 3.5rem;
    line-height: 3.5rem;
    padding: 0 1.4rem;
    font-size: $font_size_default;
    font-weight: 600;
    color: #fff;
    border-radius: 3rem;
    &::before {
        content: "";
        width: 1.4rem;
        height: 1.4rem;
        margin-right: 0.6rem;
        @include bgimage(
            $url: $image_root + "common/ico_map.svg",
            $pos: left center
        );
    }
}
.btn-product__like {
    position: absolute;
    right: 1.2rem;
    bottom: 1.2rem;
    width: 2.4rem;
    height: 2.4rem;
    z-index: 11;
    @include bgimage($url: $image_root + "common/ico_heart.svg");
    &.type-black {
        @include bgimage($url: $image_root + "common/ico_heart_black.svg");
    }
    &.active {
        @include bgimage($url: $image_root + "common/ico_heart_active.svg");
        animation: heartPop 0.4s ease;
    }
}

@keyframes heartPop {
    0% {
        transform: scale(1) rotate(0deg);
    }
    30% {
        transform: scale(1.3) rotate(-10deg);
    }
    50% {
        transform: scale(0.95) rotate(10deg);
    }
    70% {
        transform: scale(1.2) rotate(-5deg);
    }
    100% {
        transform: scale(1) rotate(0deg);
    }
}

.btn-copy {
    width: 2.4rem;
    height: 2.4rem;
    @include bgimage($url: $image_root + "common/btn_copy.png");
}
.btn-more {
    font-size: $font_size_xxs;
    color: #c7c7cc;
    &::after {
        content: "";
        width: 1rem;
        height: 1.4rem;
        margin-left: 0.4rem;
        @include bgimage(
            $url: $image_root + "common/ico_arrow_down_gray.svg",
            $pos: right center
        );
    }
}

.btn-more.active::after {
    transform: rotate(180deg);
}

.btn-payment__coupon {
    background-color: #f8f8f8;
    @include flexbox($js: between);
    width: 100%;
    border-radius: 1.6rem;
    padding: 1.4rem 1.2rem;
    .tit {
        font-size: $font_size_s;
        font-weight: 600;
    }
    .txt {
        padding-right: 0.8rem;
        font-size: $font_size_xxs;
        color: $primary_gray;
    }
}

.btn-write {
    position: fixed;
    right: 2rem;
    bottom: calc(env(safe-area-inset-bottom) + 8.6rem);
    background-color: $highlight_color;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    @include bgimage(
        $url: $image_root + "layout/ico_write.png",
        $size: 3rem 3rem
    );
    box-shadow: 0px 3px 10px 0px #f7e0a7b2;
}

.btn-reservation {
    height: 3.3rem;
    line-height: 3.3rem;
    padding: 0 2rem;
    font-size: $font_size_s;
    font-weight: 400;
    border-radius: 0.8rem;
    &__cancle {
        background-color: #eef0f2;
        color: $primary_gray;
    }
    &__review {
        background-color: $primary_black;
        color: #fff;
    }
    &.disabled,
    &:disabled {
        background-color: #c7c7cc;
        color: #fff;
    }
}
