// 큐레이션
.curation_head {
    & > div {
        width: 70%;
    }

    * {
        word-break: keep-all;
    }

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;

    .tit_more_btn {
        box-sizing: border-box;
        padding: 0 2rem;
    }
}

.curation_item {
    .btn-more {
        box-sizing: border-box;
        padding: 0 2rem 2rem;
        justify-content: flex-end;
    }

    border-radius: 2rem;
    overflow: hidden;
    width: 80vw;
    max-width: 35rem;
    flex: 0 0 auto;
    background: #fff;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 10%);

    .img_box {
        width: 100%;
        aspect-ratio: 16 / 9;
        min-height: 28rem;
        max-height: 100vh;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        position: relative;

        img {
            object-fit: cover;
            height: 100%;
            width: 100%;
        }

        .curation_desc {
            position: absolute;
            width: 100%;
            bottom: 0;
            background: rgba(0, 0, 0, 50%);
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1.2rem;

            p {
                color: #fff;
                font-size: 1.2rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .bottom_wrap {
        box-sizing: border-box;
        padding: 1.6rem;

        .tit_wrap {
            h4 {
                padding-top: 1rem;
                font-size: 1.5rem;
                line-height: 1.2;
                font-weight: 600;

                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }
}

.curation_tag {
    margin-bottom: 0 !important;
    height: 8rem;
    overflow: hidden;
    ul {
        align-items: flex-start;

        li {
            height: 3rem;
            line-height: 2.8rem;
            border-radius: 2.4rem;
            font-size: 1.2rem;
            font-weight: 500;
            color: #696d70;
            border: 1px solid #eef0f2;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 1.2rem;
        }
    }
}

.curation_tag.open {
    min-height: 8rem;
    height: auto;
}

.none_partner {
    text-align: center;
    padding: 10rem 2rem;
    font-size: 1.4rem;
    color: #696d70;
    line-height: 1.6;
    width: 100%;
}

.banner.cta {
    aspect-ratio: 10 / 4;
}

.d-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tit_more_btn {
    color: $primary_color;
}

.profile_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rating {
    font-size: 1.2rem;
    font-weight: 500;
    padding-bottom: 0.4rem;
    i {
        vertical-align: middle;
    }
}

#bottomSearchBarWrap_new {
    position: sticky;
    top: 0;
    z-index: 100;
    display: grid;
    grid-template-columns: auto 66% auto;
    grid-template-rows: auto auto;
    align-items: center;
    gap: 12px;
    padding: 12px 16px;
    background: #f5f6f7;
    transition: padding 0.5s ease, box-shadow 0.5s ease;
    height: auto !important;
}

#bottomSearchBarWrap_new .img__box {
    grid-column: 1;
    grid-row: 1;
}
#bottomSearchBarWrap_new .btn-alarm {
    grid-column: 3;
    grid-row: 1;
}
#bottomSearchBarWrap_new .search-form__con {
    grid-column: 1 / span 3;
    grid-row: 2;
}

#bottomSearchBarWrap_new.is-compact {
    grid-template-rows: auto;
    padding: 1.2rem 1.2rem;
}
#bottomSearchBarWrap_new.is-compact .search-form__con {
    grid-column: 2;
    grid-row: 1;
}
#bottomSearchBarWrap_new.is-compact .img__box {
    grid-column: 1;
    grid-row: 1;
}

// 큐레이션 상세
.curationDetail__wrap {
    .curation_detail_wrap {
        background-image: url(../images/layout/curation_detail_bg.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: left -5rem;
        background-color: #f5f6f7;
        padding: 0 2rem 2rem !important;
        min-height: calc(100% - 4.8rem);
        height: auto;
    }

    .header__wrap {
        background-image: url(../images/layout/curation_detail_bg.png);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-position: left top;
        background-color: #f5f6f7;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    .header__wrap.scrolled {
        background-color: #f5f6f780;
    }

    .header-tit__center {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        display: inline-block;
        width: 70%;
        text-align: center;
    }
}

.curation_tit_box {
    box-sizing: border-box;
    padding: 3rem 0 4rem;

    * {
        word-break: keep-all;
    }

    h3 {
        font-size: 2.4rem;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    p {
        font-size: 1.4rem;
        color: #696d70;
    }

    .end_curation {
        display: inline-block;
        font-size: 1.1rem;
        color: #5c5c5c;
        box-sizing: border-box;
        padding: 0.5rem 1.2rem;
        border-radius: 0.8rem;
        background: rgb(255 255 255 / 50%);
        font-weight: 600;
        margin-bottom: 2rem;
    }
}

.curations_parnter_list {
    .all {
        font-size: 1.4rem;
        color: #696d70;

        .point {
            display: inline-block;
            color: $primary_color;
            font-weight: 500;
        }
    }
}

.curation_detail.wrap__list {
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
    .curation_item {
        width: 100%;
        max-width: none;
    }

    .curation_item .bottom_wrap .tit_wrap h4 {
        white-space: normal;
        overflow: visible;
        text-overflow: clip;
    }

    .address {
        margin-top: 0.5rem;
        color: #696d70;
        font-size: 1.2rem;
    }

    .partner_info {
        width: 85%;
    }

    .address span:not(:last-child)::after {
        content: ", ";
    }

    .tit_wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    .price_wrap {
        box-sizing: border-box;
        padding: 0 2rem 2rem;
    }

    .price_box {
        box-sizing: border-box;
        padding: 1.5rem;
        border-radius: 1.2rem;
        background: #f5f6f7;
        // margin-top: 2.4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .price_info {
            width: 60%;
        }

        .sale-percent {
            font-size: 1.4rem;
            color: #ff3f3f;
            font-weight: 600;
            display: inline-block;
        }

        .default-price {
            display: inline-block;
            font-size: 1.4rem;
            color: #c7c7cc;
            text-decoration: line-through;
            margin-left: 0.4rem;
            margin-right: 0.8rem;
        }

        .sale-price {
            font-size: 1.8rem;
            font-weight: 500;
            display: block;
            margin-top: 0.5rem;
        }

        .btn-md__black {
            width: auto;
        }
    }

    .splide__product {
        height: 100%;
    }

    .slide-counter {
        top: 1.2rem;
        right: 1.2rem;
    }

    .badge-group {
        top: 0rem;
        left: 1.9rem;
    }

    .badge {
        font-size: 1.2rem;
        color: #fff;
        height: auto;
        padding: 0.8rem 1.2rem;
        border-radius: 0 0 0.8rem 0.8rem;
        i {
            width: 1.4rem;
            height: 1.4rem;
            display: inline-block;
            vertical-align: middle;
            margin-right: 0.5rem;
        }

        &.live {
            background: $primary_color;
        }

        &.range {
            background: #00000050;
        }
    }
}

.curation_item.detail {
    .img_box {
        aspect-ratio: auto;
        max-height: none;
        min-height: auto;
    }
    .curation_img {
        width: 100%;

        aspect-ratio: 16 / 9;
        @supports not (aspect-ratio: 16 / 9) {
            height: auto;
            padding-top: calc(100% * 9 / 16);
            position: relative;
        }

        min-height: 28rem;
        max-height: 100vh;
        max-height: -webkit-fill-available;

        object-fit: cover;
        -o-object-fit: cover;
        -webkit-object-fit: cover;

        display: block;
    }
}
